apiVersion: 1
contactPoints:
  - orgId: 1
    name: {{ grafana_alert_contact_point }}
    receivers:
      - uid: ntfy-webhook-cp
        type: webhook
        settings:
          url: "http://ntfy-relay:8088/"
          httpMethod: POST
