.git
.github
_upstream
ansible
terraform
*.md
.gradle
build
frontend/node_modules
frontend/dist
.idea
.vscode
**/*.iml
terraform.tfstate*
*.tfvars
!*.tfvars.example
ansible/group_vars/**/vault.yml
ansible/inventory.ini
