[Unit]
Description=Nginx Prometheus Exporter
Documentation=https://github.com/nginx/nginx-prometheus-exporter
After=network-online.target nginx.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/nginx-prometheus-exporter \
  --nginx.scrape-uri={{ nginx_exporter_scrape_uri }} \
  --web.listen-address={{ nginx_exporter_listen_address }}:{{ nginx_exporter_port }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
